.content-section {
  max-width: 100%;
}

.content-card {
  margin-bottom: 1rem;
  border: 1px solid var(--p-content-border-color);
  box-shadow: 0 1px 3px rgb(0 0 0 / 6%);
}

.content-card .p-card-title {
  font-size: 1.125rem;
}

.content-card .p-card-subtitle {
  font-size: 0.8125rem;
}

.content-card .p-card-content {
  padding: 0.75rem 0;
}
